@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Safira March';
  src: url('/fonts/SafiraMarch.otf') format('opentype');
}

@font-face {
  font-family: 'Giaza';
  src: url('/fonts/Giaza.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-text);
}

@theme {
  --color-secondary: #FFECD1;
  --color-primary: #3E000C;

  --darker-secondary: #af9672;
  --semi-secondary: rgb(from var(--color-secondary) r g b / 0.075);

  --darker-primary: #32000a;
  --lighter-primary: #5e000f;

  --color-background: var(--color-primary);
  --color-text: var(--color-secondary);

  --font-text: 'Josefin Sans', sans-serif;
  /*--font-heading: 'Safira March', cursive;*/
  --font-heading: 'Safira March', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  line-height: 1.8;
}

header {
  font-family: var(--font-heading);
}

:not(nav) > a {
  text-decoration: underline;

  &:hover {
    text-decoration-style: wavy;
  }
}

main > div {
  background-image: linear-gradient(var(--semi-secondary) 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), var(--semi-secondary) calc(100% - 1.5px)),
  linear-gradient(90deg, var(--semi-secondary) 1.5px, transparent 1.5px, transparent calc(100% - 1.5px), var(--semi-secondary) calc(100% - 1.5px));
  background-size: 100px 100px;
}

main > div > div {
  background: url('/assets/waves-2.svg') 0 -75px / cover, radial-gradient(circle at 50% 50%, transparent, var(--color-primary) 90%);
}
