@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Safira March';
  src: url('/fonts/SafiraMarch.ttf') format('truetype');
}

@theme {
  --color-background: #efe;

  --color-accent-light: #fedce3;
  --color-accent: #c7306d;
  --color-accent-dark: #92003a;

  --color-magenta: #832D51;
  --color-cyclamen: #EA6993;
  --color-fairy-tale: #F8CAE4;
  --color-tea-green: #cfdd9d;
  --color-viridian: #447a5f;

  --color-quinoa: #762949;
  --color-maroon: #b83556;

  --color-text: #fff;

  --font-jf-sans: 'Josefin Sans', sans-serif;
  --font-sf-march: 'Safira March', serif;
}

body {
  background-color: var(--color-quinoa);
  color: var(--color-fairy-tale);

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000;

    background-image: url('/assets/leaves.png');
    background-size: 50%;
    opacity: 0.15;
    pointer-events: none;
  }
}

a {
  color: var(--color-fairy-tale);
  font-weight: bold;
  text-decoration: none;
}
